NodeRed/older/flows-RemoteBMP.json
[
    {
        "id": "8ba5177bf8107d22",
        "type": "tab",
        "label": "REMOTE BMP",
        "disabled": false,
        "info": "Use this flow for processing/displaying remote BMP data",
        "env": []
    },
    {
        "id": "c807c27ff00a9843",
        "type": "debug",
        "z": "8ba5177bf8107d22",
        "name": "Parsed Temp Press",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 50,
        "wires": []
    },
    {
        "id": "cb13c9acbbea7c01",
        "type": "ui_text",
        "z": "8ba5177bf8107d22",
        "group": "42649ebbcb65dafe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime (s)",
        "format": "{{msg.payload.bmpmillis/1000}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "e333b67933dc1958",
        "type": "ui_text",
        "z": "8ba5177bf8107d22",
        "group": "42649ebbcb65dafe",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet Num",
        "format": "{{msg.payload.bmppacketnum}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 370,
        "y": 110,
        "wires": []
    },
    {
        "id": "50f79fe89ebb9344",
        "type": "ui_text",
        "z": "8ba5177bf8107d22",
        "group": "42649ebbcb65dafe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WiFi Str (dBm)",
        "format": "{{msg.payload.bmpwifirssi}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "f7c13348614d21eb",
        "type": "ui_text",
        "z": "8ba5177bf8107d22",
        "group": "42649ebbcb65dafe",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload[\"temp-C\"]}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 360,
        "y": 170,
        "wires": []
    },
    {
        "id": "81debd909dbe7518",
        "type": "ui_text",
        "z": "8ba5177bf8107d22",
        "group": "42649ebbcb65dafe",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pressure (hPa)",
        "format": "{{msg.payload[\"pressure-Pa\"]/100}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 380,
        "y": 200,
        "wires": []
    },
    {
        "id": "50225aad88aa74ae",
        "type": "ui_text",
        "z": "8ba5177bf8107d22",
        "group": "42649ebbcb65dafe",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Altitude (m)",
        "format": "{{msg.payload[\"altitude-m\"]}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 370,
        "y": 230,
        "wires": []
    },
    {
        "id": "0a8db38c1808b1cf",
        "type": "ui_text",
        "z": "8ba5177bf8107d22",
        "group": "42649ebbcb65dafe",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rel Altitude (m)",
        "format": "{{msg.payload.relaltitude}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "5d8386291d6f224a",
        "type": "change",
        "z": "8ba5177bf8107d22",
        "d": true,
        "name": "Calc Rel Alt",
        "rules": [
            {
                "t": "set",
                "p": "payload.relaltitude",
                "pt": "msg",
                "to": "payload[\"altitude-m\"]-21.2",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.relaltitude",
                "pt": "msg",
                "to": "$round(payload.relaltitude, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "0a8db38c1808b1cf"
            ]
        ]
    },
    {
        "id": "a13eb6ca5ae8f84e",
        "type": "link in",
        "z": "8ba5177bf8107d22",
        "name": "RemoteBMPDataProcessing",
        "links": [
            "b2a793bc7f9d5899"
        ],
        "x": 155,
        "y": 160,
        "wires": [
            [
                "c807c27ff00a9843",
                "cb13c9acbbea7c01",
                "e333b67933dc1958",
                "50f79fe89ebb9344",
                "f7c13348614d21eb",
                "81debd909dbe7518",
                "50225aad88aa74ae",
                "5d8386291d6f224a"
            ]
        ]
    },
    {
        "id": "42649ebbcb65dafe",
        "type": "ui_group",
        "name": "RemoteBMP",
        "tab": "057db9fdee971bb6",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "057db9fdee971bb6",
        "type": "ui_tab",
        "name": "Analytics",
        "icon": "assessment",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]